.form-group
  label(for="fullname") Full name
  input#fullname.form-control(name="fullname", type="text", value=seller.name)
.form-group
  label(for="company") Company
  input#company.form-control(name="company", type="text", value=seller.company)
.form-group
  label(for="email") E-mail address
  input#email.form-control(name="email", type="email", value=seller.email)
.form-group
  label(for="productname") Product Name
  input#productname.form-control(name="productname", type="text", value=seller.productname)
.form-group
  label(for="productcost") Praduct Cost
  input#productcost.form-control(name="productcost", type="text", value=seller.productcost)     	